{% extends 'issue/base.html' %}

{% block content %}
    <div class="card mt-3 shadow p-3 mb-5 bg-body rounded">
        <div class="card-body">
            <h1>Issues List</h1>
            <div class="row">
                <div class="col-md">
                    <form class="row g-4" action="." method="GET">
                        <div class="col-sm-12 col-md-12 col-lg-3">
                            <div class="form-floating">
                                <input type="text" class="form-control" id="floatingInput" placeholder="Search Issue by title" name="data">
                                <label class="text-secondary" for="floatingInput">Search Issue by title</label>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-2">
                            <div class="form-floating">
                                <select class="form-select" id="floatingSelect" aria-label="Priority select" name="priority">
                                    <option></option>
                                    <option value="1">Urgent</option>
                                    <option value="2">High</option>
                                    <option value="3">Normal</option>
                                    <option value="4">Low</option>
                                </select>
                                <label for="floatingSelect">Issue's priority</label>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-2">
                            <div class=" form-floating">
                                <select class="form-select" id="floatingSelect2" aria-label="Status select" name="status">
                                    <option></option>
                                    <option value="open">Open</option>
                                    <option value="pending">Pending</option>
                                    <option value="closed">Closed</option>
                                </select>
                                <label for="floatingInput">Issue's status</label>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-2">
                            <div class="form-floating">
                                <select class="form-select" id="floatingSelect3" aria-label="label select" name="label">
                                    <option></option>
                                    <option value="frontend">Front-end</option>
                                    <option value="backend">Back-end</option>
                                    <option value="design">Design</option>
                                    <option value="operational">Operational</option>
                                </select>
                                <label for="floatingInput">Issue's label</label>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-2">
                             <div class="form-floating">
                                <select class="form-select" id="floatingSelect4" aria-label="Assigned to me" name="assigned">
                                    <option></option>
                                    {% for user in users %}
                                    <option value="{{ user.id }}">{{ user }}</option>
                                    {% endfor %}
                                </select>
                                <label for="floatingInput">Issue's assigned user</label>
                             </div>

                        </div>
                        <div class="col-auto align-self-center">
                            <button class="btn btn-outline-primary" type="submit">
                                Search
                            </button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="row mb-4">
              <div class="col-md">
                <a href="{% url 'issue_list' %}">Clear filters</a>
              </div>
            </div>
            <div class="row">
                <div class="table-responsive-lg text-secondary">
                    <table class="table">
                        <thead>
                        <tr>
                            <th scope="col">ID #</th>
                            <th scope="col">Priority</th>
                            <th scope="col">Title</th>
                            <th scope="col">Description</th>
                            <th scope="col">Project</th>
                            <th scope="col">Label</th>
                            <th scope="col">Author</th>
                            <th scope="col">Assignee to</th>
                            <th scope="col">Status</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for issue in page_obj %}
                        <tr>
                            <td scope="row">{{ issue.id }}</td>
                            {% if issue.priority == "1" %}
                            <td class="bg-danger text-light">{{ issue.get_priority_display }}</td>
                            {% elif issue.priority == "2" %}
                            <td class="bg-warning text-dark">{{ issue.get_priority_display }}</td>
                            {% elif issue.priority == "3" %}
                            <td class="bg-primary text-light">{{ issue.get_priority_display }}</td>
                            {% else %}
                            <td class="bg-success text-light">{{ issue.get_priority_display }}</td>
                            {% endif %}
                            <td class="text-truncate" style="max-width: 300px;"><a href="{% url 'issue_detail' pk=issue.pk %}">{{ issue.title }}</a></td>
                            <td class="text-truncate" style="max-width: 300px;">{{ issue.description }}</td>
                            <td>{{ issue.project }}</td>
                            <td>{{ issue.get_label_display }}</td>
                            <td>{{ issue.author }}</td>
                            <td>{{ issue.assignee }}</td>
                            <td>{{ issue.get_status_display }}</td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="pagination text-secondary">
                    <span class="step-links">
                        {% if page_obj.has_previous %}
                            <a href="?page={{ page_obj.previous_page_number }}"><<</a>
                        {% endif %}

                        <span class="current">
                            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                        </span>

                        {% if page_obj.has_next %}
                            <a href="?page={{ page_obj.next_page_number }}">>></a>
                        {% endif %}
                    </span>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

