{% extends 'issue/base.html' %}

{% block content %}
    <div class="row mt-3">
        <div class="col">
            <div class="card shadow p-3 mb-5 bg-body rounded">
                    <div class="row">
                        <div class="col-lg-8">
                            <div class="card-body">
                                <span class="text-secondary p-1 rounded"># {{issue.id }}</span>
                                <h2>{{ issue.title }}</h2>
                                <a class="btn btn-outline-success" href="{% url 'issue_edit' pk=issue.pk %}">
                                    <ion-icon name="create-outline"></ion-icon></a>
                                <a class="btn btn-outline-danger" href="{% url 'issue_delete' pk=issue.pk %}">
                                    <ion-icon name="close-circle-outline"></ion-icon></a>
                                <p class="mt-5 text-secondary">{{ issue.description }}</p>
                                <p class="text-secondary">Attached files</p>
                                <a href=""> {{ issue.attached_file }} </a>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="card-body">
                                <p class="text-secondary">Priority</p>
                                <div class="ps-1">
                                    {% if issue.priority == "1" %}
                                        <p class="border-start border-2 border-danger text-danger"><ion-icon
                                                name="flame-outline"></ion-icon>
                                            {{ issue.get_priority_display }}</p>
                                    {% elif issue.priority == "2" %}
                                        <p class="border-start border-2 border-warning text-warning"><ion-icon
                                                name="trending-up-outline"></ion-icon>
                                            {{ issue.get_priority_display }}</p>
                                    {% elif issue.priority == "3" %}
                                        <p class="border-start border-2 border-primary text-primary"><ion-icon
                                                name="trending-down-outline"></ion-icon>
                                            {{ issue.get_priority_display }}</p>
                                    {% else %}
                                        <p class="border-start border-2 border-success text-success"><ion-icon
                                                name="arrow-down-outline"></ion-icon>
                                            {{ issue.get_priority_display }}</p>
                                    {% endif %}
                                </div>
                                <p class="text-secondary">Status</p>
                                <div class="ps-1">
                                    {% if issue.status == "open" %}
                                        <p class="border-start border-2 border-success text-success ps-1">
                                            {{ issue.get_status_display }}</p>
                                    {% elif issue.status == "closed" %}
                                        <p class="border-start border-2 border-warning text-warning ps-1">{{
                                            issue.get_status_display }}</p>
                                    {% else %}
                                        <p class="border-start border-2 border-primary text-primary ps-1">{{
                                            issue.get_status_display }}</p>
                                    {% endif %}
                                </div>
                                <p class="text-secondary">Label</p>
                                <p class="text-black-50 ps-1">
                                    {{ issue.get_label_display }}</p>
                                <p class="text-secondary">Assigned</p>
                                <p class="text-black-50 ps-1"><img src="./../../static/img/user1.jpeg"
                                                                   width="20px" height="20px"
                                                                   class="rounded-circle">
                                    {{ issue.assignee }}</p>
                                <p class="text-secondary">Author</p>
                                <p class="text-black-50 ps-1"><img src="./../../static/img/user2.jpeg" width="20px"
                                                                   height="20px" class="rounded-circle">
                                    {{ issue.author }}</p>
                                <p class="text-secondary">Project</p>
                                <p class="text-black-50 ps-1">
                                    {{ issue.project }}</p>
                                <p class="text-secondary">Creation date</p>
                                <p class="text-black-50 ps-1">
                                    {{ issue.creation_date }}</p>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
    </div>
{% endblock %}
