{% extends 'issue/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
  <div class="row d-flex align-items-center">
    <div class="col-lg-4 col-md-4 col-sm-1">
      <div class="card mt-5 shadow p-3 mb-5 bg-body rounded">
        <div class="card-body ">
          <h2 class="text-center">Log in</h2>
          <form method="POST">{% csrf_token %}
            {{ form|crispy }}
            <div class="d-grid gap-2 mx-auto mt-4">
              <button type="submit" class="btn btn-success">Submit</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
